# Snyk / DeepCode
.dccache
vendor/**

# TODO: consider using the following repo to get thorough .gitignore configurations per context:
# https://github.com/github/gitignore/


# TODO: consider .gitignore nesting per context - moving into .gitignore files deeper in the repo (versus one big .gitignore file at the repo root)

# jetbrains
.idea/

# node
node_modules/
package-lock.json

# python
.venv/
